* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 60px 45px 30px 45px;
}

.users-edit {
  background: #ffffff;
  padding: 10px 30px 40px;
  width: 560px;
  box-shadow: 0 0 20px rgba(30, 30, 30, .5);
  position: fixed;
  overflow-y: auto;
  top: 30px;
  left: 50%;
  margin-left: -280px;
  transition: opacity .3s, margin-top .5s;
  border-radius: 10px;

  &.users-edit-hidden {
    opacity: 0;
    margin-top: -600px;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
  }
}

.field-row {
  margin-bottom: 10px;

  > label {
    width: 150px;
    display: inline-block;
  }

  > input {
    width: 345px;
  }

  > textarea {
    display: block;
    width: 500px;
    height: 100px;
  }

  > input,
  > textarea {
    border-radius: 4px;
    padding: 4px 15px;
    border: 1px solid #ccc;
    outline: none;
  }
}

.btn {
  padding: 4px 20px;
  border: none;
  transition: background .3s;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;

  &.btn-new {
    background: #9ea;
    border-radius: 5px;
    border: 1px solid #6eefac;
    margin-left: 30px;

    &:hover {
      background: #9fb;
    }
  }

  &.btn-save {
    background: #9ae;

    &:hover {
      background: #9bf;
    }
  }

  &.btn-cancel {
    background: #ccc;

    &:hover {
      background: #eee;
    }
  }
}

#users-table {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  border-spacing: 0;

  tr:nth-child(odd) {
    background: #dddddb;;
  }
  tr:nth-child(even) {
    background: #eee;
  }
  th {
    text-transform: uppercase;
    padding: 10px 0;
    background: #b5b1a1;
  }
  td {
    padding: 8px 5px;
  }

  .options {
    width: 15%;
  }
}

a {
  text-decoration: none;
  color: #37c;

  &:hover {
    text-decoration: underline;
  }

}

.removeBtn {
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #992412;
  background: linear-gradient(to top, rgb(178, 43, 23), rgb(209, 51, 27));
  color: white;
  cursor: pointer;

  &:hover {
    background: #992412;
  }
}


.editBtn {
  border-radius: 5px;
  border: 1px solid #4c91cd;
  background: linear-gradient(to top, rgb(66, 139, 202), rgb(96, 157, 210));
  color: white;
  cursor: pointer;

  &:hover {
    background: #46a9f4;
  }
}

i {
  margin-left: 5px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
}